- var mixinStyles = {}
- var mixinScripts = {}
- var partialStyles = {}
- var partialScripts = {}
include ../mixins/svg

doctype html
html(lang='en')
    head
        title= `${meta.title}`
        meta(name='description' content=meta.description)
        meta(name='keywords' content='BlogPost, blog-post.me, blogging, platform for blogging')
        meta(name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover, user-scalable=no')
        meta(charset='utf-8')
        meta(name='theme-color' content='#c4302b')
        meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
        link(rel='apple-touch-icon' href='/images/apple-touch-icon.png')
        link(href='/css/common.css' rel='stylesheet')
        link(href='/css/layout.css' rel='stylesheet')
        link(href='/manifest.json' rel='manifest')
        svg(style='display: none')
            defs
                g(id='search_24')
                    include ../static/images/svg/search_24.svg
                g(id='cancel_24')
                    include ../static/images/svg/cancel_24.svg
        block styles
    body
        .layout
            header.header#header(class=`${query.search && query.search.length > 0 ? 'header-search' : ''}`)
                .container.header_container
                    form.headerSearch.header_search(method='get' action='/')
                        .headerSearch_icon
                            +svg('search_24')
                        input.headerSearch_control#header-search-control(name='search' placeholder='Search' autocomplete='off' value=query.search)
                        button.headerSearch_cancel#header-search-cancel(type='button' aria-label='Hide search')
                            +svg('cancel_24')
                    .header_left
                        a(href='/').logo Blog
                        a(href='/posts/create').logo.logo-action Post
                    .header_right
                        button.header_searchToggle#header-search-toggle(aria-label='Search')
                            +svg('search_24')
                        div &nbsp;&bull;&nbsp;
                        if !authenticated
                            a.header_action(href='/login') Login
                            div &nbsp;&bull;&nbsp;
                            a.header_action(href='/signup') Signup
                        else
                            a.header_action(href=`/@${currentUser.nickname}`) @#{currentUser.nickname}
                            div &nbsp;&bull;&nbsp;
                            a.header_action(href='/logout') Logout
            .layout_content
                block content

        script(src='/js/layout/index.js' type='module')
        block scripts
        for mixinName in Object.keys(mixinStyles)
            link(rel='stylesheet' href=`/css/mixins/${mixinName}.css`)
        for mixinName in Object.keys(mixinScripts)
            script(src=`/js/mixins/${mixinName}.js` type='module')
        for partialName in Object.keys(partialStyles)
            link(rel='stylesheet' href=`/css/partials/${partialName}.css`)
        for partialName in Object.keys(partialScripts)
            script(src=`/js/partials/${partialName}.js` type='module')
