include ./date

mixin comment(comment)
    - mixinStyles.comment = true
    - mixinScripts.comment = true
    .comment(data-comment data-comment-id=comment.comment_id)
        a.comment_author(href=`/@${comment.author}`) @#{comment.author}
        .comment_date
            +date(comment.created_at)
        .comment_text= comment.text
        if authenticated
            .comment_actions
                a.comment_action(href='#' data-comment-reply data-comment-id=comment.comment_id) Reply
        if authenticated
            .comment_form(data-comment-form data-comment-id=comment.comment_id)
                +commentForm('s', comment.comment_id)

        if comment.child.length
            .comment_children
                each childComment in comment.child
                    +comment(childComment)

